@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  --primary-color: #2091f9;
  --primary-color-dark: #1b7de7;

  --secondary-color: #f9f9f9;
}

img {
  display: block;
  width: 100%;
}

header {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

header a {
  color: #fff;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button--primary {
  background-color: var(--primary-color);
  padding: 15px 60px;
}

.button--primary:hover {
  background-color: var(--primary-color-dark);
}
